@model IEnumerable<Asilo.Models.Donacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de recojos de hoy</h1>

<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recibida)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoDonacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benefactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recolector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Recibida == false)
                    {
                        <text>Recibido</text>
                    }
                    else
                    {
                        <text>En espera</text>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoDonacion)
                </td>
                <td>
                    @if (item.TipoBenefactor == 1)
                    {
                        @Html.DisplayFor(modelItem => item.Benefactor.Nombres)
                        @Html.DisplayFor(modelItem => item.Benefactor.Apellidos)
                    }
                    else
                    {
                        <text>Anonimo</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campana.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recolector.Nonbre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
