@model Asilo.Models.Campana

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campana</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requerimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requerimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCampaña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCampaña)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asilo.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
