@model IEnumerable<Asilo.Models.Campana>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    Lista de Campañas vigentes

</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requerimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCampaña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asilo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (DateTime.Now.Date <= item.FechaCierre.Date)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requerimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCierre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCampaña)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Asilo.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
}
    </tbody>
</table>
<a class="btn btn-primary" asp-area="" asp-controller="Campanas" asp-action="Inactive">Lista de Capanas finalizadas</a>
