@model IEnumerable<Asilo.Models.RecojosRealizado>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de donaciones resibidas</h1>

<table class="table table-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Establecimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recolector)
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Establecimiento.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recolector.Nonbre)
                    @Html.DisplayFor(modelItem => item.Recolector.Apellido)
                </td>
                <td>
                    Recibido
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-success">Regresar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
